autopep8>=1.5.2
feature-engine>=1.3.0
ipykernel>=5.2.1
matplotlib>=3.5.2
mlxtend>=0.23.1
numpy>=1.22.4
pandas>=1.4.2
scikit-learn>=1.1.1
scipy>=1.8.1
seaborn>=0.11.2
statsmodels>=0.13.2
xgboost>=1.6.1
yapf>=0.30.0
